.Modal{
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100%;
  background: black;
  background: rgba(0, 0, 0, .7);
}

.Modal.open{
  display: block;
}

.Modal .Modal-content{
  position: relative;
  top: 20%;
  width: 30%;
  height: auto;
  margin: 0 auto;
  background: white;
  padding: 10px;
  padding-bottom: 0px;
  overflow: hidden;
}
