label{
  margin-right: 10px;
  text-align: right;
}

legend{
  clear: both;
  text-decoration: none;
}

.btn-close{
  float: right;
}

.btn-close span{
  background: blue;
  color: white;
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  line-height: 14px;
}

.save, .cancel{
  background: blue;
  padding: 10px;
  color: white;
  border: none;
}

.cancel{
  background: navy;
}
